#divbaba{
color: black;
text-align: center;
background-color: teal;
}
#nana12{
    margin-left: 500px;
}

#divbaba2{
    color: black;
    text-align: center;
    background-color: teal;
    }
    #nana22{
        margin-left: 500px;
    }